.cim-card {
  flex: 0 1 14.285714%;
}

.cim-card .cim-card-group {
  padding: 15px;
}

.cim-card .cim-card-group .cim-card-item {
  border: 1px dotted #ccc;
  background-color: #28A744;
}

.cim-card .cim-card-group .cim-card-item .cim-card-image img{
  width: 100%;
  height: 200px;
}

.cim-card .cim-card-group .cim-card-item .cim-card-file-name{
  color: #fff;
  max-height: 30px;
  padding: 10px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cim-card .cim-card-group .cim-card-item .cim-card-created-at{
  font-size: 11px;
  text-align: right;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 5px;
}