
.cim-popup-container .cim-input-group{
  margin: 15px;  
}

.cim-popup-container .cim-input-group .cim-input{
  border-radius: 2px;
    padding: 2px;
    margin-left: 15px;
    width: 400px;
}

.cim-popup-container .cim-popup-footer{
  height: 50px;
  float: right;
  position: absolute;
  right: 20px;
  bottom: 10px;
}