.cim-listview-header {
  text-align: center;
  color: #28a745;
  font-size: 25px;
  font-weight: bold;
}

.cim-listview-container{
  min-height: 50vh;
}

.cim-listview-container .cim-nav-bar{
  height: 40px;
  width: 100%;
  position: relative;
}

.cim-listview-container .cim-nav-bar #btn_open_popup{
  position: absolute;
  right: 15px;
  top: 0px;
}

.cim-listview-content{
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100vw - 20px);
}

.cim-listview-content .cim-listview-message{
  text-align: center;
  width: 100%;
  height: 60vh;
  line-height: 50vh;
  font-style: italic;
}

.wapper-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 999999;
}

.wapper-loader .loader {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate( -50%, -50%);
}

.wapper-loader .loader img {
  background-color: #f5f0f0;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}